<div class="card h-100">
  <div class="card-group">
    <div class="card-header">
      <h4 class="card-title">Remote Tab</h4>
    </div>
    <div class="card-content card-height w-100">
      <div class="card-body w-100">
        <ul class="list-group text-primary">
          <li class="list-group-item d-flex justify-content-between align-items-center">RECORD_ID
            <span class="badge badge-secondary badge-pill ml-1"> {{REC_ID }}</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            CMD_Executive_Date<span class="badge badge-secondary badge-pill ml-1">{{CMD_Executive_Date}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            User_Name<span class="badge badge-secondary badge-pill ml-1">{{User_Name}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            DCU_Command<span class="badge badge-secondary badge-pill ml-1">{{DCU_Command}}</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            CMD_Executive_Reason<span class="badge badge-secondary badge-pill ml-1">{{CMD_Executive_Reason}}</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Target_DCU<span class="badge badge-secondary badge-pill ml-1">{{Target_DCU}}</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Near_By_DCU<span class="badge badge-secondary badge-pill ml-1">{{Near_By_DCU}}</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            SLA_Start_Date<span class="badge badge-secondary badge-pill ml-1">{{SLA_Start_Date}}</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            SLA_Violate_Date<span class="badge badge-secondary badge-pill ml-1">{{SLA_Violate_Date}}</span>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
            Days_Since_Open<span class="badge badge-secondary badge-pill ml-1">{{Days_Since_Open}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
